<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<nav class="navbar navbar-expand-lg navbar-light bg-light w" style="height:100px">
    <a class="col-3 navbar-brand text-white text-center bg-info" id="headerLogo" href="./updatePro.html"
        style="height:100px">
        Update Profile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <a class="col-3 navbar-brand text-white text-lg-center bg-info" id="headerLogo" href="./allusers.html"
        style="height:100px">
        View Members</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <a class="col-3 navbar-brand text-white text-lg-center bg-info" id="headerLogo" href="./activity.html"
        style="height:100px">
        Create New Activity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <a class="col-3 navbar-brand text-white text-lg-center bg-info" id="headerLogo" href="./index.html"
        style="height:100px">
        sign Out</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

</nav>

<div class="container">
    <div class="card-body">

        <div class="card-header" style="color:rgb(19, 235, 152);">
            <div class="col-sm">
                <img src='./assets/images/dashImage.jpg' class="imgPort">
                <h3>My Activities</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>

                            <th scope="col">Description</th>
                            <th scope="col">Interested?</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{each activity}}
                        <tr>
                            <th scope="row">1</th>
                            <td>"Date"</td>
                            <td>"Title"</td>
                            <td>"Type"</td>

                            <td> <button class="btn btn-success">Yes
                                </button>
                                <button class="btn btn-danger">No</button>
                            </td>
                        </tr>
                        {{/each activity}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header" style="color:rgb(25, 136, 94);">
            <div class="col-sm">
                <img src='./assets/images/dashImage.jpg' class="imgPort">
                <h3>Available Activities</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>

                            <th scope="col">Description</th>
                            <th scope="col">Interested?</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{each activity}}
                        <tr>
                            <th scope="row">1</th>
                            <td>"Date"</td>
                            <td>"Title"</td>
                            <td>"Type"</td>

                            <td> <button class="btn btn-success">Yes
                                </button>
                                <button class="btn btn-danger">No</button>
                            </td>
                        </tr>
                        {{/each activity}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>