{{!-- Splash Message--}}
<div class="container">
    <br /> 
<h1 class="text-center text-success"> A Place to connect codePals &amp; build amazing connections</h1>
<br /> 
<a href="/welcome" class="btn btn-success btn-lg active m-5" role="button" aria-pressed="true" >Enter codePals</a>
</div>