
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    {{!-- <link rel="stylesheet" type="text/css" href="../assets/css/custom.css"> --}}


</head>

<body>
    <h1 class="text-center">Welcome to codePals </h1>
      <a> 
        <img src="../public/assets/img/codepals_logo-02.png" id="welcomelogo">
    </a>
    
    <div class="mx-auto" style="width: 200px;">
    <a href="/login" class="btn btn-success btn-lg button" role="button" aria-pressed="true">Log In</a>
    <a href="/signup" class="btn btn-success btn-lg button" role="button" aria-pressed="true">Sign Up</a>
    </div>

</body>

