<h1>Users</h1>
<button type="button" id="btn_updUser" class="btn btn-success">Edit profile</button> 
<hr /> 
<h2>Update My Profile</h2>
<p> Cannot change </p>
<div class="form-group">
				<label for="email">Email:</label>
				<input id="email" type="email" disabled name="email" autocomplete="email" placeholder="JohnDoe@Apple.com"
					required><br>
			</div>
<br /> 
			<div class="form-group">
				<label for="name">First Name:</label>
				<input id="fname" type="text" autocomplete="fname" required><br>
			</div>
			<div class="form-group">
				<label for="name">Last Name:</label>
				<input id="lname" type="text" autocomplete="lname" required><br>
			</div>
			<div class="form-group">
				<label for="pass">Password:</label>
				<input type="password" id="pass" name="password" minlength="8" required><br>
			</div>
			
			<div class="form-group">
				<label for="phone">Phone:</label>
				<input type="tel" id="phone" name="phone" placeholder="000-000-0000" required><br>
			</div>
			<div class="form-group">
				<label for="city">City:</label>
				<input id="city" type="text" autocomplete="city" required><br>
				</div>
				<div class="form-group">
					<label for="city">State:</label>
					<input id="state" type="text" autocomplete="city" required><br>
				</div>
				<div class="form-group">
					<label for="photo">Photo:</label>
					<input id="photo" type="image" autocomplete="photo" required><br>
				</div>
				<div class="form-group">
					<label for="skills">Skills:</label>
					<select class="form-control" id="skills">
						<option value="HTML">HTML</option>
						<option value="CSS">CSS</option>
						<option value="JavaScript">JavaScript</option>

					</select><br>
				</div>
				
				<button class="btn-success" type="submit" id="btn_update"> Update</button>

{{!-- Calling Client JS --}}
<script src="/assets/js/users.js"></script>
