<head>

{{!-- Calling Client JS --}}
{{!-- <script src="/assets/js/activity.js"></script> --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
<link rel="stylesheet" href="../public/assets/css/style.css">
<script src="../assets/js/userSkill.js"></script>


</head>


<div class="form-group">
    <label>Existing Skills</label>
        <select id="selectSkills" class="form-control chzn-select" multiple="true">
            {{#each skills}}
            <option id={{id}}>{{value}}</option>
            {{/each}}
        </select>
    </div>
</div>